#sidebar {
	background: #4b545b;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	transition: all .3s ease-out;
	transform: translateZ(0);
	width: 64px;
	z-index: 100;
}
.sidebar-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.sidebar-section {
    border-top: 0;
    list-style: none;
    padding: 0;
}
.sidebar-section li {
    margin-bottom: 12px;
    width: 100%;
}
.sidebar-section li:first-child {
    margin-top: 8px;
}
.sidebar-section li a {
    align-items: center;
    border-radius: 48px;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    text-decoration: none;
    transition: background .1s ease-in;
    width: 48px;
}

.sidebar-section li.active a, .sidebar-section li.active a:hover {
    background-color: #0db5df;
}
.sidebar-section li a i {
    display: inline-block;
    font-size: 22px;
    text-align: center;
    vertical-align: sub;
}
.sidebar-section li a:focus, .sidebar-section li a:hover {
    background-color: #333;
    text-decoration: none;
    color: #fff;
    outline: 0;
}

#page-container {
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 20px 0 0 64px;
}


.input {
    background: transparent;
    border: none;
    flex-grow: 1;
    font: 14px/20px Open Sans,Helvetica Neue,helvetica,arial,sans-serif;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
}
.input {
    padding-right: 4px;
}

.btn-primary{
	background: #0db5df;
	transition: all .3s ease;
	border: transparent;
}
.btn-primary:active{
	background: #0b98bb;
}
.btn-primary:hover{
	background: #0984a3;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.1rem rgb(13 181 223 / 75%);
    outline: none;
    background: #0a8eaf;
    color: #fff;
}
.btn-primary:disabled{
    cursor: auto;
    opacity: .3;
	background: #0db5df;
	border: transparent;
}
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child){
	margin-left: 0;
}
#fixMonthSelect{
	margin-right: -3px;
}